<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.gxutrainbranch.dao.StudentInformationDao">
    <select id="queryInformation" resultType="com.example.gxutrainbranch.entity.StudentInformation">
        select *
        from studentinformation
        limit #{offset}, #{count}
    </select>
    <insert id="addInformation">
        insert into studentinformation (

                 studentId,
                 studentName,
                 studentSex,
                 studentClass,
                 personMajor,
                 studentScore
        )
        values (
               #{studentID},
               #{studentName},
               #{studentSex},
               #{studentClass},
               #{personMajor},
               #{studentScore}
               )
    </insert>

    <delete id="delInformation">
        delete
        from studentinformation
        where studentId = #{id}
    </delete>
    <select id="count" resultType="java.lang.Integer">
        select count(*)
        from studentinformation
    </select>

    <update id="updateInformation">
        update studentinformation
        set
            studentName     =   #{studentName},
            studentSex      =   #{studentSex},
            studentClass    =   #{studentClass},
            personMajor   =   #{personMajor},
            studentScore    =   #{studentScore}
        where studentId= #{studentID}
    </update>
    <select id="queryRegex" resultType="com.example.gxutrainbranch.entity.StudentInformation">
        select * from studentinformation
        where
                 studentId           like concat('%',#{regex},'%') or
                 studentName         like concat('%',#{regex},'%') or
                 studentSex          like concat('%',#{regex},'%') or
                 studentClass        like concat('%',#{regex},'%') or
                 personMajor       like concat('%',#{regex},'%')
        limit #{offset},#{count}
    </select>
    <select id="queryRegexDesc" resultType="com.example.gxutrainbranch.entity.StudentInformation">
        select * from studentinformation
        where
            studentId           like concat('%',#{regex},'%') or
            studentName         like concat('%',#{regex},'%') or
            studentSex          like concat('%',#{regex},'%') or
            studentClass        like concat('%',#{regex},'%') or
            personMajor       like concat('%',#{regex},'%')
        order by studentScore desc
        limit #{offset},#{count}
    </select>
    <select id="queryRegexASC" resultType="com.example.gxutrainbranch.entity.StudentInformation">
        select * from studentinformation
        where
            studentId           like concat('%',#{regex},'%') or
            studentName         like concat('%',#{regex},'%') or

            studentSex          like concat('%',#{regex},'%') or
            studentClass        like concat('%',#{regex},'%') or
            personMajor       like concat('%',#{regex},'%')
        order by studentScore asc
        limit #{offset},#{count}
    </select>
    <select id="findId" resultType="com.example.gxutrainbranch.entity.StudentInformation">
        select * from studentinformation
        where studentId=#{studentId}
    </select>
    <select id="findCourse">
        select * from studentinformation
        where studentClass like concat(#{course},'%')
        order by studentScore desc
    </select>

</mapper>